<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473333502274-1haec1kumakj06fkmpb90614ejt9nfkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473333502274-1haec1kumakj06fkmpb90614ejt9nfkq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>473333502274-aivqkvvad3k36jheio1d1rq9k4q745f0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXavBZYgzmXOgoFJhBPIkQf4q4efc2vCs</string>
	<key>GCM_SENDER_ID</key>
	<string>473333502274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siekang.ekangFlutter</string>
	<key>PROJECT_ID</key>
	<string>siekang</string>
	<key>STORAGE_BUCKET</key>
	<string>siekang.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473333502274:ios:0ea42ace19728202bf38db</string>
</dict>
</plist>